body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;	
}

.max-900px {
    max-width: 900px;
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 60%;
    height: 48px;
}

.title-image {
    padding-bottom: 1.5em;
}

.narrow-background {
    display: table;
    padding: 0.1em;
    }